.DS_Store

# LaTeX intermediate files
*.aux
*.bcf
*.fdb*
*.fls
*.log
*.xml
*.blg
*.glo*
*.gls
*.ist
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.xdy
*.xdv
*.nav
*.snm
*.vrb
*.bbl*

# Build files
/.latexmkrc
latex.out